@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
}

html {
    scroll-behavior: smooth;
}

h2 {
    margin: 0 0 20px 20px;
    font-size: 2rem;
}

body {
    background: #eee;
}

nav {
    width: 100%;
    background: #34bdff;
    box-shadow: 0 0 3px #333;
    position: fixed;
    z-index: 1000;
    height: 90px;
    transition: 0.3s ease;
}

.nav-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: auto;
}

.nav-elements a {
    color: #333;
    text-decoration: none;
}

.nav-elements a:visited {
    color: #333;
}

.nav-elements h2 {
    transition: all 0.3s ease-in-out;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-links, h3 {
    flex: 1;
    color: #333;
}

.nav-links li {
    padding: 1rem;
    transition: all 0.2s ease;
}

.nav-elements h2:hover {
    font-weight: 100;
}

.nav-links li:hover {
    transform: translateX(5px);
    font-weight: bold;
}

p {
    text-align: justify;
}

p::first-letter {
    font-size: 1.5rem;
    color: rgb(0, 144, 216);
}

.adapt {
    display: flex;
    align-items: center;
    padding: 6rem 1rem 1rem 0;
    margin-bottom: 3rem;
    width: 80%;
    margin: 0 auto;
}

.dummy-adapt {
    padding: 2rem 2rem 2rem 0;
}

.adapt img {
    width: 50%;
}

.improvise {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 80%;
    margin-bottom: 3rem;
    margin: 0 auto;
}

.improvise p {
    line-height: 24px;
}

#imgImprovise {
    width: 60%;
    padding: 2rem;
    opacity: 0;
    transform: translateX(-200px);
    transition: 1s ease-in;
}

.overcome {
    padding: 2rem;
    background: rgba(52, 187, 255, 0.287);
    width: 80%;
    margin: 0 auto;
}

.overcome h2 {
    text-align: center;
}

.overcome img {
    width: 90%;
}

@media screen and (max-width: 999px){
    main {
        padding: 0 2rem;
    }

}

